<h3 align="center">Edit Pin</h3>
<form role="form">
  
  <div class="row">
    <div class="col-xs-1 col-xs-offset-2">
      <label for="pin_name">Board</label>
    </div>
    
    <div class="col-xs-6 col-xs-offset-1">
      <select class="form-control">
        <% boards.each(function(board) { %>
          <option value="1"><%= board.escape("name") %></option>
        <% }); %>
      </select>
    </div>
  </div>
  
  <p>
    
  <div class="row">
    <div class="col-xs-1 col-xs-offset-2">
        <label for="pin_desc">Description</label>
    </div>

    <div class="col-xs-6 col-xs-offset-1">
        <textarea 
          class="form-control"
          id="pin_desc" 
          name="pin[description]"
          placeholder="What's this Pin all about?"><%= pin.escape("description") %></textarea>
    </div>
  </div>
  
  <p>
    
  <div class="row">
    <div class="col-xs-1 col-xs-offset-2">
  
      <label for="pin_name">Source</label>
    </div>
  
    <div class="col-xs-6 col-xs-offset-1">
      <input 
        class="form-control"
        id="pin_name" 
        name="pin[url]" 
        type="text"
        value="<%= pin.escape("url") %>">
    </div>
  </div>

  <p>

  <div class="row">
    <div class= "col-xs-1 col-xs-offset-1">
        <input type="submit" class="hidden">
        
        <button 
            type="button" 
            class="btn btn-default" 
            id="delete-pin">
          Delete Pin
        </button>
    </div>
          
    <div class= "col-xs-5 col-xs-offset-4">      
      <button type="button" class="btn btn-default" id="cancel">Cancel</button>
      <button 
          type="button" 
          class="btn btn-primary"
          id="submit-pin">
        Save Changes
      </button>
    </div>
  </div>
  <p></p>
</form>