<div class="row">
  <div class="col-sm-12">
    
    <div class="row">

      <!-- create new board -->
      <div class="col-sm-6 col-md-2 text-center">
        <a href=""><div class="thumbnail" id="new-board-wrapper">
          <div class="caption">
            <h5>Create a Board</h5>
            <div style="height: 255px"></div>
          </div>
        </div></a>
      </div>
      
      <!-- boards -->
      <% boards.each(function(board) { %>
      <div class="col-sm-6 col-md-2 text-center">
        
        <a href="#/users/<%= board.escape("user_id") %>/boards/<%= board.id %>"><div class="thumbnail">
          <div class="caption">
            <h5><%= board.escape("name") %></h5>
          </div>
          <div style="height: 211px">
            <img data-src="" alt="..." class="img-responsive">
          </div>
          
          <!-- edit board -->
          <p><button class="btn btn-default" id="board-edit" data-id="<%= board.id %>" style="width: 216px">Edit</button></p>
        </div></a>
        
      </div>

    <% }); %>
  </div>
</div>







