<div class="col-xs-1 col-xs-offset-1">
<label for="pin_name">Board</label>
</div>

<div class="col-xs-7 col-xs-offset-1">
  <select name="pin[board_id]" class="form-control" id="board-pin">
    <% boards.each(function(board) { %>
    	<% if(board.get("owned")) { %>
    		<option value="<%= board.id %>"><%= board.escape("name") %></option>
  		<% } %>
    <% }); %>
  </select>
  <button type="button" id="create-new-board" class="btn btn-default">Create New Board</button>
</div>