<form id="list-new-board-form">
  <div class="form-group" id="new-board-group">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-1" style="padding-left: 30px; padding-right: 5px">
        <input
          class="form-control"
          id="board_name"
          name="board[name]"
          type="text"
          placeholder="Create New Board">
      </div>

      <div class="col-xs-4" style="width: 27%; padding-left: 0; padding-right: 15px; text-align: right">
        <!-- buttons -->
        <button type="button" class="btn btn-default" id="go-back-list">Cancel</button>

        <button type="submit" class="btn btn-danger"  id="new-board-button">Create</button>
      </div>

    </div>
  </div>
</form>