<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 style="color: white"><%= board.escape("name") %></h2>
        <% if(board.get("owned")) { %>
          <div class="tilt">
            <a href="#" id="board-edit-button">
              <i class="fa fa-edit"></i>
            </a>
          </div>
        <% } %>
        <h4><%= board.escape("description") %></h4>
      </div>
    </div>
  </div>
</div>


<div class="row" id="pins-wrapper">
</div>