
<!-- first row -->
<div class="row">

	<!-- first name -->
  <div class="col-xs-2 col-xs-offset-4">
    <div class="form-group">  
      <input
        class="form-control"
        id="user_fname"
        name="user[fname]"
        type="text"
        placeholder="First Name">
    </div>
  </div>
  
	<!-- last name -->
  <div class="col-xs-2">
    <div class="form-group">  
      <input
        class="form-control" 
        id="user_lname"
        name="user[lname]"
        type="text"
        placeholder="Last Name">
    </div>
  </div>
</div>
  

 <!-- second row -->
<div class="row">

	<!-- email -->
	<div class="col-xs-4 col-xs-offset-4">
	  <div class="form-group">  
	    <input
	      class="form-control" 
	      id="user_email"
	      name="user[email]"
	      type="email"
	      placeholder="Email Address">
	  </div>
  
  	<!-- password -->
    <div class="form-group">  
      <input
         class="form-control" 
         id="user_password"
         name="user[password]"
         type="password"
         placeholder="Password">
    </div>
      
		<!-- buttons -->
    <div class="form-actions">
      <input type="submit" class="hidden">
      <button formaction="/" class="btn btn-defaul">Cancel</button>
      <button type="submit" class="btn btn-primary">Save Settings</button>
    </div>
  </div>
</div>
