<div class="container">
<h2 align="center">Account Settings</h2>

<form class="form-horizontal" id="edit-user-form">

  <div class="form-group">
    <label for="email" class="col-sm-1 col-sm-offset-3 control-label">Email</label>
  
    <div class="col-sm-4">
        <input
          class="form-control" 
          id="user_email"
          name="user[email]"
          type="email"
          value="<%= user.escape("email") %>"
          placeholder="Please enter email.">
      </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-6">
        <input type="submit" class="hidden">
        <button class="btn btn-default" id="cancel">Cancel</button>
        <button type="submit" class="btn btn-danger">Save Settings</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(document).ready(function () {
    $("#edit-user-form").validate({
      rules: {
        "user[email]": { required: true, email: true }
      },

      highlight: function(element, errorClass, validClass) {
        $("#form-group").addClass("has-error");
      },
      unhighlight: function(element, errorClass, validClass) {
        $("#form-group").removeClass("has-error");
      }
    });
  });
</script>