<div class="row" style="margin: 0 auto">
  <div class="profile-header-wrapper">
    <div class="user-profile-header">
      <h1><%= user.escape("fname") %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div 
      class="navbar navbar-static-top" 
      id="user-nav"
      role="navigation"
      style="margin-bottom: 10px">
  
      <div class="btn-group btn-group-lg user-nav">
        <button type="button" class="btn btn-default" id="button-boards">
          Boards
        </button>
        
        <button type="button" class="btn btn-default" id="button-pins">
          Pins
        </button>
        <button type="button" class="btn btn-default" id="button-likes">
          Likes
        </button>
      </div>
    </div>
  </div>
</div>

<div id="views"></div>

<script>
  $('#button-boards').click(function() {
    window.location="#/users/<%= user.id %>/boards";
  });
  
  $('#button-pins').click(function() {
    window.location="#/users/<%= user.id %>/pins";
  });
</script>