<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 style="color: whitet"><%= user.escape("fname") %></h2>
      </div>
    </div>
  </div>
</div>

<div class="nav nav-tabs nav-justified" style="padding: 0 800px 0 800px">
  <li id="link-boards">
    <a href="#/users/<%= user.id %>/boards">Boards</a>
  </li>
  
  <li id="link-pins">
    <a href="#/users/<%= user.id %>/pins">Pins</a>
  </li>
</div>


<div id="views"></div>