<div class="top-section">

  <h1>PinterestClone</h1>

  <p style="margin-bottom:30px">
  <h3>Save all the stuff you love!!</h3>
  
  <p style="margin-top:30px; margin-bottom:30px;">
  <a class="btn btn-default" 
     href="<%= new_user_url %>" 
     role="button">Sign Up</a>
  </p>
  
  Already have an account? <%= link_to "Log in now", new_session_url %>
</div>

<div class="bottom-section">
  