/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/glyphicons";
@import "masonry";

body {
  padding-top: 50px;
  background-color: #e3e3e3;
  color: #211922;
  font: 'Helvetica';
}

.navbar {
  padding-left: 125px;
  padding-right: 140px;
}

.user-button {
  width: 160px;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: right;
}

.top-section {
  text-align: center;
}

input.hidden {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

.container {
  width: 1250px;
  padding: 0;
}

#container {
  width: 1250px;
  margin: 0 auto;
}

#board-container {
  width: 1250px;
  margin: 0 auto;
}

.row {
  width: 1250px;
  margin-left: 2px;
}

.board-wrapper {
  position: relative;
  width: 236px;
  height: 284px;
  display: inline-block;
  color: #555555;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  outline: none;
  border-radius: 3px;
  margin: 5px;
}

.profile-header-wrapper {
  width: 736px;
  margin: 0 auto;
  float: none;
}

.user-profile-header {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background: #ffffff;
  color: #333333;
  float: none;
  height: 153px;
  position: relative;
  width: 736px;
  display: block;
  margin-bottom: 15px;
}

.navbar-static-top {
  background-color: #ececec;
  background: -webkit-linear-gradient( #f3f3f3, #e5e5e5);
  background: linear-gradient( #f3f3f3, #e5e5e5);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  border-left: 1px solid #d4d4d4;
  border-left: 1px solid rgba(0, 0, 0, 0.17);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.17);
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  clear: both;
  color: #333333;
  height: 44px;
  line-height: 44px;
  max-width: 10000px;
  position: relative;
}