/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/glyphicons";
@import "masonry";

html {
  font-family: sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  background-color: #e3e3e3;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea {
  font-family: inherit;
}

select optgroup {
  font-family: inherit;
}

.navbar-fixed-top {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
  background: #ffffff;
  height: 44px;
  position: fixed;
  z-index: 670;
  padding-left: 100px;
  padding-right: 110px;
}

.navbar-fixed-top .btn {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #5f5f5f;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0 1px #ffffff;
  white-space: nowrap;
  
  &:hover,
  &:focus {
    color: white;
    background-color: #C92228;
    text-decoration: none;
  }
}

.navbar-default .navbar-brand {
  color: #C92228;
}

#navbar-brand-center {
  width: 150px; 
  margin: 0 auto; 
  float: none;
}

.user-button {
  width: 160px;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: right;
}

.top-section {
  text-align: center;
}

input.hidden {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

.container {
  width: 1250px;
  padding: 0;
}

#container {
  width: 1250px;
  margin: 0 auto;
}
