/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/glyphicons";
@import "masonry";
@import "main";

body {
  padding-top: 13px;
  padding-bottom: 13px;
}

.img-text {
	color: white; 
	border-color: white;
	text-decoration: underline;

}

#headerwrap {
	background-image: url(../images/corkboard.jpg);
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: relative;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	position: relative;
}

#layer {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// hidden buttons
input.hidden {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}