// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-2 {
  width: 236px;
  padding: 0;
  margin: 5px;
}

.thumbnail {
  margin-bottom: 7px;
  border-radius: 3px;
  width: 236px;
  height: 284px;
  
  .caption {
    padding: 0;
  }
  
  h5 {
    margin: 5px 0 5px 0;
  }
}

#board-edit-button {
  width: 216px;
}