#new-board-wrapper {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  border: 2px dashed #bbbbbb;
  color: #888888;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 1px 1px #ffffff;
  width: 236px;
  height: 284px;

  a {
    font-size: 18px;
    font-weight: 900;
    color: #333333;
  }
}

#board-tiles {
  padding: 0;
  position: relative;
  list-style-type: none;
  margin: 0 10px 0 10px;
  border-radius: 3px;

  p {
    margin: 0;
  }
}

#board-tiles li {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  width: 236px;
  display: none;
  padding-bottom: 7px;
  text-align: center;
}

#board-edit-button {
  width: 216px;
}

.board-cover {
  height: 211px;
  overflow: hidden;
  margin: 0 7px;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
  text-align: center;
}

.board-img {
  min-height: 100%;
  min-width: 100%;
}