// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tiles {
  border-radius: 3px;
  padding: 0;
  position: relative; 
  list-style-type: none; 
  margin: 0 10px 0 10px;
  border-radius: 3px;
  
  p {
    margin: 0;
  }
}

#tiles li {
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  width: 236px;        
  display: none;
  padding-bottom: 30px;
  text-align: center;
}

#pin-edit-button {
  background: transparent;
  padding-top: 2px;
  padding-bottom: 2px;
  float: right;
  bottom: 0px;
}

#show-tile {
  padding: 0;
  position: relative; 
  list-style-type: none; 
  margin: 0 10px 0 10px;
  border-radius: 3px;
  
  p {
    margin: 0;
  }
}

#show-tile li {
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  display: none;
  padding-bottom: 40px;
  text-align: center;
}