// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tiles {
  padding: 0;
  
  li {
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background: #ffffff;
    width: 236px;        
    border: 1px solid #dedede;
    display: none;
    cursor: pointer;
    padding-bottom: 4px;
    text-align: center;
  }
}

#pin-wrapper {
  width: 236px;        
  padding: 5px;
}