// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header-wrapper {
  width: 736px;
  margin: 0 auto;
  float: none;
}

.user-profile-header {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  float: none;
  height: 153px;
  position: relative;
  width: 736px;
  display: block;
  margin-bottom: 15px;
}

.navbar-static-top {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  clear: both;
  height: 44px;
  line-height: 44px;
  max-width: 10000px;
  position: relative;
}

#views {
  width: auto;
}

.user-header > .active {
}

.btn-default{
  background: transparent;
  border-color: transparent;
}
