<div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      C <i class="fa fa-circle"></i> RKBOARD
    </a>
  </div>
  
  <div class="navbar-collapse collapse" id="navbar-collapse-1">

    <form 
      class="navbar-form navbar-left" 
      role="search" 
      style="padding: 0 4px 0 4px">
      <div class="form-group">
        <input 
            type="text" 
            class="form-control"
            id="search-form"
            placeholder="What are you into?"
            style="width: 300px">
      </div>
      <button type="submit" class="btn btn-danger"><i class="fa fa-search"></i></button>
    </form>

    <ul class="nav navbar-nav navbar-right">  
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" id="upload-pin" data-type="upload">
              <span class="glyphicon glyphicon-arrow-up"></span> Upload a Pin
            </a>
          </li>
          
          <li>
            <a href="#" id="web-pin" data-type="web">
              <span class="glyphicon glyphicon-globe"></span> Add from a Website
            </a>
          </li>
          
          <li>
            <a href="#" id="new-board">
              <span class="glyphicon glyphicon-th-large"></span> Create a Board
            </a>
          </li>
        </ul>
      </li>

      <!-- user dropdown -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.fname %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/users/<%= user.id %>">
          Your Profile & Pins
        </a></li>
        <li><a href="#/users/<%= user.id %>/settings">Settings</a></li>
        <li class="divider"></li>
        <li><a href="#/boards">Browse Boards</a></li> 
        <li class="divider"></li>
        <!-- link to log out -->
        <li><a href="/session" data-method="delete" rel="nofollow">Log Out</a></li> 
        </ul>
      </li>
    </ul>
  </div>
  </div>

<script>
  $('form').keypress(function(e){
    if(e.which === 13){
        return false;
    }
});
</script>