this is where pins go!
<ul id="tiles" 
  style="position: relative; list-style-type: none; margin: 0 10px 0 10px">
  
  <% pins.each(function(pin) { %>
    <li>
      <a href="#/pins/<%= pin.id %>">
        <img src="<%= pin.escape("img") %>" class="img-responsive">
      </a>
      <p><%= pin.escape("description") %><p>
    </li>
  <% }); %>
  
	<li><img src="http://www.hdwallpaperswing.com/wp-content/uploads/2013/05/japan_digital_landscape_hd_wide-wide1.jpg" class="img-responsive"><p>1</p></li>
	<li><img src="https://lh3.ggpht.com/-MzZCzWI_6Xc/UIUQp1qPfzI/AAAAAAAAHpA/OTwHCJSWFAY/s1600/cats_animals_kittens_cat_kitten_cute_desktop_1680x1050_hd-wallpaper-753974.jpeg" class="img-responsive"><p>2</p></li>
	<li><img src="http://placekitten.com/200/200" class="img-responsive"><p>3</p></li>
</ul>


<script>
$(document).imagesLoaded(function() {
	// Call the layout function.
	$('#tiles li').wookmark({
    align: "left",
		autoResize: true, // This will auto-update the layout when the browser window is resized.
		container: $('#tiles'), // Optional, used for some extra CSS styling
		offset: 10, // Optional, the distance between grid items
		itemWidth: 236 // Optional, the width of a grid item
	});
});
</script>
