<div class="modal fade" 
    id="modal" 
    tabindex="-1" role="dialog" 
    aria-labelledby="modal" 
    aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="padding-right: 5px">&times;</button>

      <!-- insert form -->
      <div class="modal-body" id="modal-body" style="padding-bottom: 0">
      </div>
      <div class="modal-header"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->    